name: B1OTTO M3U Update

on:
  schedule:
    - cron: '0 * * * *'  # كل ساعة
  workflow_dispatch:    # يمكن تشغيله يدويًا

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests pytz

      - name: Run b1otto.py
        run: python b1otto.py

      - name: Commit & Push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add playlist/*.m3u
          git commit -m "Auto update b1otto playlists" || echo "No changes to commit"
          git pull --rebase
          git push
