name: Auto Update ✪ BEIN Playlist

on:
  schedule:
  - cron: '*/5 * * * *'  # كل 5 دقائق UTC
  workflow_dispatch:     # إمكانية تشغيله يدويًا

jobs:
  update-bein:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Requests
        run: pip install requests

      - name: Run BEIN Update Script
        run: python3 bein.py

      - name: Commit & Push updated M3U
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          git add channels/bein_auto.m3u8
          git commit -m "Update bein_auto.m3u8 [ci skip]" || echo "No changes"
          git push
