name: Generate M3U

on:
  schedule:
    - cron: "0 0 * * *"  # كل يوم منتصف الليل
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Generate M3U
        run: python generate_m3u.py

      - name: Commit and Push M3U
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add channels.m3u
          git commit -m "Update M3U automatically"
          git push
