name: bm3u8

on:
  schedule:
    - cron: '0 * * * *' # تشغيل كل ساعة
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests bs4 pytz

    - name: Run BM3U8 Script
      run: |
        python bm3u8.py
