name: Check M3U Channels

on:
  schedule:
    - cron: '0 12 * * *' # يعمل كل يوم الساعة 12:00 UTC
  workflow_dispatch: # يمكن تشغيله يدوياً من GitHub Actions

jobs:
  check_channels:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: python script.py

      - name: Upload working channels file
        uses: actions/upload-artifact@v3
        with:
          name: working_channels
          path: working_channels.m3u
