name: dlhd_player1_m3u8

on:
  schedule:
    - cron: "*/5 * * * *"   # كل 5 دقائق
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Generate M3U
        run: python dlhd_player1_m3u8.py

      - name: Commit & Push
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add channels.m3u
          git commit -m "Auto update channels.m3u" || exit 0
          git push
