name: Filter Channels

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  filter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install deps
        run: pip install requests

      - name: Run filter
        run: python filter.py

      - name: Commit result
        run: |
          git config user.name "BOT"
          git config user.email "bot@github.com"
          git add KASSSSKASSSK.m3u
          git commit -m "Update alive channels" || echo "No changes"
          git push
