name: generate_rmc

on:
  schedule:
    - cron: "0 */6 * * *"   # كل 6 ساعات
  workflow_dispatch:       # تشغيل يدوي

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run scraper
        run: |
          python generate_rmc.py

      - name: Commit & Push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add *.m3u
          git commit -m "Auto update M3U playlists" || echo "No changes"
          git push
