name: Auto Update M3U

on:
  schedule:
    - cron: '0 * * * *' # كل ساعة
  workflow_dispatch: # يمكن تشغيله يدوياً
  repository_dispatch:

jobs:
  update-m3u:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install requests
      run: pip install requests

    - name: Run extractor
      run: python extract_ids.py

    - name: Commit and push changes
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add v5.m3u
        git commit -m "Auto update M3U" || echo "No changes to commit"
        git push origin main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
