name: Auto Update BEIN M3U

on:
  schedule:
    # يفحص كل ساعة، يمكنك تغيير الوقت حسب رغبتك
    - cron: "0 * * * *"
  workflow_dispatch: # لتشغيله يدويًا أيضًا

jobs:
  update-m3u:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install requests
        run: pip install requests

      - name: Run generate_m3u.py
        run: python generate_m3u.py

      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add BEIN_new.m3u
          git commit -m "Auto update BEIN M3U"
          git pull --rebase origin main
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
